<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Búsqueda de Peliculas</h2>
    <div th:if="${msg != null}" class='alert alert-danger' th:text="${msg}" role='alert'></div>
    <form th:action="@{/cpeliculas/buscarPor}" method="get">
        <div class="mb-3">
            <label for="searchField" class="form-label">Buscar por</label>
            <select class="form-select" id="searchField" name="searchField" onchange="updateSearchField()">
                <option th:each="field : ${searchFields}" th:value="${field}" th:text="${field}"></option>
            </select>
        </div>
        <div class="mb-3" id="tituloField" style="display: none;">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Escriba el titulo de la película">
        </div>
        <div class="mb-3" id="anioField" style="display: none;">
            <label for="anio1" class="form-label">Año Desde</label>
            <input type="text" class="form-control" id="anio1" name="anio1" placeholder="Año desde">
            <label for="anio2" class="form-label">Año Hasta</label>
            <input type="text" class="form-control" id="anio2" name="anio2" placeholder="Año hasta">
        </div>
        <div class="mb-3" id="generoField" style="display: none;">
            <label for="genero" class="form-label">Género</label>
            <select class="form-select" id="genero" name="genero" required="required">
                <option th:each="genero : ${generos}" th:value="${genero}" th:text="${genero}"></option>
            </select>
        </div>
        <div class="mb-3" id="direccionField" style="display: none;">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Escriba el nombre del director de la película" required>
        </div>
        <div class="mb-3" id="actorField" style="display: none;">
            <label for="actor" class="form-label">Actor</label>
            <input type="text" class="form-control" id="actor" name="actor" placeholder="Escriba el nombre del Actor">
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <nav  th:replace="~{botonesAtras :: botones}"></nav>
        </div>

    </form>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    function updateSearchField() {
        const searchField = document.getElementById('searchField').value;
        document.getElementById('tituloField').style.display = searchField === 'titulo' ? 'block' : 'none';
        document.getElementById('titulo').required = searchField === 'titulo';

        document.getElementById('anioField').style.display = searchField === 'año' ? 'block' : 'none';

        document.getElementById('generoField').style.display = searchField === 'genero' ? 'block' : 'none';
        document.getElementById('genero').required = searchField === 'genero';

        document.getElementById('direccionField').style.display = searchField === 'direccion' ? 'block' : 'none';
        document.getElementById('direccion').required = searchField === 'direccion';

        document.getElementById('actorField').style.display = searchField === 'actor' ? 'block' : 'none';
        document.getElementById('actor').required = searchField === 'actor';
    }

    // Initialize the form based on the default value
    document.addEventListener('DOMContentLoaded', function() {
        updateSearchField();
    });
</script>
<script th:src="@{/js/goBack.js}"></script>

</body>
</html>