<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <h4 class="card-title">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cpeliculas/actores/nuevo}" class="btn btn-primary btn-xs">Crear nuevo actor</a>
            </h4>

            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
<!--                    <th scope="col">Identificador</th>-->
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Pais Nacimiento</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="actor : ${listado}">
<!--                    <td> <a class="btn btn-primary btn-xs" th:href="@{/cpeliculas/actores/ver/} + ${actor.idActor}" th:text="${actor.idActor}"></a></td>-->
                    <td> <a class="btn btn-primary btn-xs" th:href="@{/cpeliculas/actores/ver/} + ${actor.idActor}" th:text="${actor.nombre}"></a></td>
                    <td th:text="${#temporals.format(actor.fechaNacimiento, 'dd-MM-yyyy')}"></td>
                    <td th:text="${actor.paisNacimiento}"></td>
                    <td>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cpeliculas/actores/editar/{id}  (id=${actor.idActor})  }"
                           th:text="'editar'" class="btn btn-success btn-sm" role="button" title="Editar el actor."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cpeliculas/actores/eliminar/{id}  (id=${actor.idActor})   }"
                           th:text="'eliminar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el actor.">
                            <i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="~{paginator-nav :: paginator}"></nav>

        </div>
    </div>
    <hr>
<div th:replace="~{botonesAtras :: botones}"></div>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/goBack.js}"></script>

</body>
</html>